aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
idna==3.2
iniconfig==1.1.1
multidict==5.1.0
packaging==21.0
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.2.3
yarl==1.6.3
